/* ----------- Mobile first ----------- */
.nav__mobile { display: flex !important; }
.nav__desktop { display: none; }

/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .nav__mobile { display: none !important; }
    .nav__desktop { display: block; }}
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    .nav__mobile { display: none !important; }
    .nav__desktop { display: block; }
  }
}
